name: DeployToQA

on:
  workflow_dispatch:
    inputs:
      targetWorkspace:
        default: jmsynapseqaws
        required: true
        description: 'Name of the target workspace'
      resourceGroup:
        default: synapsedemo
        required: true
        description: 'Name of the resource group containing the target workspace'
      template:
        default: jmsynapsedemo
        required: true
        description: 'Name of the original template'
  pull_request:
    branches: [ qa ]
    types: [closed]

jobs:
  call-deploy-to-qa-dispatch:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    uses: jmenterprisedemo/SynapseOpsDemo/.github/workflows/deployqa_reusable.yaml@qa
    with:
      targetWorkspace: '${{ github.event.inputs.targetWorkspace }}'
      resourceGroup: '${{ github.event.inputs.resourceGroup }}'
      template: '${{ github.event.inputs.template }}'
    secrets: inherit

  call-deploy-to-qa-push:  
    if: ${{ github.event_name == 'push' && github.event.pull_request.merged == true }}
    uses: jmenterprisedemo/SynapseOpsDemo/.github/workflows/deployqa_reusable.yaml@qa
    with:
      targetWorkspace: jmsynapseqaw
      resourceGroup: synapsedemo
      template: jmsynapsedemo
    secrets: inherit